


/* config global */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

  *, *:before, *:after {
    box-sizing: inherit;
}


/* menú de navegación */
.cabecera{
    background-color: #000000;
    padding:25px 80px 25px 80px;
}

nav img{
    width:100px;
}

nav ul{
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block; 
    line-height: 80px;
    margin: 0 16px 0 16px;

}
nav ul li a{
    color:azure;
    text-decoration: none;
}